body {
    background: radial-gradient(67.68% 67.68% at 50% -14.74%, #20252F 0%, #141414 100%), url(/intro-bg.png);
    min-height: 100vh;
}

.posts-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.posts-grid > a {
    background: linear-gradient(180deg, #1c1c21 0%, #16191c 100%);
    border-radius: 24px;
    flex: 0 1 calc(50% - 32px);
    padding: 10px;
    box-sizing: border-box;
}

.posts-grid .card-title {
    font-weight: 600;
}

.homepage-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.homepage-header h1 {
    margin: 0 auto 48px;
}

.homepage-main {
    font-size: 32px;
}

.top-grid {
    pointer-events: none;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

header {
    padding-top: 20px;
}

.f1, .homepage-header h1 {
    font-family: 'Helvetica', Roboto, sans-serif !important;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 48px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 24px;
}

main {
    z-index: 5;
    position: relative;
}

.read-more-button {
    padding: 12px 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    display: inline-flex;
    margin-top: 20px;
    font-size: 14px;
}

.read-more-button .icon {
    width: 16px;
    margin-left: 8px;
}
